CompileFlags:
  Add:
    - "-std=c17"
    - "-DUNDER_CLANGD=1"
    - "-xc"
    - "-nostdlib"
    - "-I../../../../CoreDarwinBoot/include"
    - "-I../../../CoreDarwinBoot/include"
    - "-I../../CoreDarwinBoot/include"
    - "-I../CoreDarwinBoot/include"

Index:
  StandardLibrary: No
