# init
BasedOnStyle: WebKit

# Width, preferably 4 spaces as before.
IndentWidth: 4

IndentCaseBlocks: false
IndentCaseLabels: true

# & + * should be aligned with the variable name
ReferenceAlignment: Right
PointerAlignment: Right

SpaceAroundPointerQualifiers: Both

AlignTrailingComments: true
SpaceBeforeParensOptions:
  AfterIfMacros: true

AlignConsecutiveMacros: Consecutive
InsertBraces: true
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse
BraceWrapping:
  AfterEnum: true
  AfterExternBlock: true

IndentPPDirectives: BeforeHash
